<body>
  <div class="inner cover">
    <h1 class="cover-heading">Inquiries, invites, and insults</h1>
      <p class="lead">
        <br>Email: tessa.fallon@gmail.com
        <br>Twitter: @tessafallon
        <br>LinkedIn: linkedin.com/in/tessafallon
        <br>GitHub: github.com/tessafallon
        <br>
        <br>
      <i>Please cp if you'd like to contact me.</i>
      </p>          
  </div>
</body>