<body>
<h1>Inquiries, invites, and insults:</h1>
<ul>
<li>Email: tessa.fallon@gmail.com</li>
<li>Twitter: @tessafallon</li>
<li>LinkedIn: linkedin.com/in/tessafallon</li>
<li>GitHub: github.com/tessafallon</li>
</ul>
</body>