<div class="inner cover">
  <h1 class="cover-heading">Choose wisely.</h1>
    <p class="lead"><a href="/full">Full CV</a> | 
      <a href="resume">Resume PDF</a> | 
      <a href="/projects">Projects</a>
    </p>
</div>