<div class="inner cover">
  <h1 class="cover-heading">Choose wisely.</h1>
    <p class="lead"><a href="/full">View Full CV</a> | 
      <a href="/img/Fallon_CV_2014.pdf">Download CV</a> | 
      <a href="/projects">Projects</a>
    </p>
</div>