<div class="inner cover">

<p class="lead" align="left">
tessa.fallon@gmail.com<br />
Twitter: @tessafallon<br />
Github: tessafallon</p>

<h2>Employment History (Selected)</h2><br />
<p align="left">Audiovisual Archives &amp; Web Development Consultant<br />
New York, NY<br />
May 2014 to present<br />
Primary responsibilities: coordinate with contractors for software evaluation, installation; modify XTF-based website; modify website search capabilities; design and implement front end solutions.<br />
<br>
Technical Writer/Engineering Intern<br />
Collective, New York, NY<br />
June 2014 to August 2014<br />
Primary responsibilities: create JSON validation scripts for internal marketing tool; create corresponding RSPEC tests<br />
<br>
Flatiron School Fellow<br />
Flatiron School, New York, NY<br />
October 2013 to March 2014<br />
Primary objectives: successfully completed fellowship and became competent developer using Ruby, Ruby on Rails, as well as JavaScript, HTML, CSS and other web-related tools<br />
<br>
Outreach and Education Consultant<br />
Internet Archive, San Francisco, CA<br />
November 2012 to April 2014<br />
Primary responsibilities: coordinate educational sessions at regional conferences for web archiving practitioners and others; contribute to other Internet Archive projects as requested</p>
<br>
<p align="left">Archives Consultant<br />
Nuclear Claims Tribunal, Majuro, Republic of the Marshall Islands<br />
April 2013 to June 2013<br />
Primary responsibilities: evaluate archives and make recommendations for digitization</p>
<br>
<p align="left">Web Collection Curator<br />
Mellon Project on Web Resources Collection Program Development<br />
Columbia University Libraries, New York, NY<br />
Librarian II: May 2012 to October 2012<br />
Librarian I: October 2009 to May 2012<br />
Primary responsibilities: investigate best practices and technologies for the collection of web resources; development of the Human Rights Web Archive; hiring and supervision of graduate student assistants; oversight of web archives quality control</p>
<br>
<p align="left">Project Consultant<br />
Audiovisual Preservation Solutions, New York, NY<br />
September 2009 to August 2011<br />
Primary responsibility: create technical documentation for digital asset management recommendations</p>
<br>
<p align="left">Archives &amp; Knowledge Management Consultant<br />
International Center for Transitional Justice, New York, NY<br />
September 2007 to September 2009<br />
Primary responsibility: management of ICTJ libraries and archives, including transfer of ICTJ archives to Duke University Libraries&rsquo; Archive for Human Rights; evaluate knowledge management opportunities<br />

<h2>Education</h2><br />
<p align=left>
MS in Library and Information Science, Archives and Records Management Certificate, 2009<br />
Long Island University, Palmer School of Library and Information Science, New York, NY</p>
<br>
<p align="left">BA in Liberal Arts, 2003<br />
St. John&rsquo;s College, Annapolis, MD<br />
<h3>Continuing Education</h3><br />
<p align="left">
Society of American Archivists, Digital Archives Specialist Certificate Program<br />
Digital Forensics; June 2012<br />
Information Architecture; February 2012<br />
Standards for Digital Archives; September 2011<br />

<h2>Professional Organizations</h2>

<p align="left">Archivists Roundtable of Metropolitan New York, member</p>

<p align="left">International Council on Archives<br />
Co-director of the Human Rights Working Group Human Rights Archives Directory project (2011 to 2012)<br />
Website manager for the Human Rights Working Group (September 2012 to 2013)</p>

<p align="left">Society of American Archivists, member<br />
Founder, Chair, Web Archives Roundtable (2013 to present)<br />
Chair of the Human Rights Archives Roundtable (2012 to 2013)<br />
Co-chair of the Human Rights Archives Roundtable (2011 to 2012)<br />
Web Liaison, Human Rights Archives Roundtable (2010 to 2011)</p>

<p align="left">International Internet Preservation Group<br />
Preservation Working Group, member, 2012<br />
Co-coordinator, Legal Roundtable, IIPC General Assembly 2012</p>

<h2>Workshops and Seminars</h2>

<p align="left">Web Archiving Birds of a Feather Meetings (Internet Archive)<br />
Organizer, facilitator<br />
Worcester, MA, NEA 2013<br />
Indianapolis, IN, MAC 2013</p>

<p align="left">Web Archiving Policies and Practice in the US: 2012 Summit<br />
Website coordinator, participant<br />
New York, NY, May 2012<br />
https://webarch.cul.columbia.edu/ </p>

<p align="left">New Tactics in Human Rights<br />
Online dialogue, May 2012<br />
Featured resource practitioner<br />
Dialogue: &ldquo;Archiving Human Rights for Advocacy, Justice and Memory&rdquo;</p>

<p align="left">Archivists Roundtable of Metropolitan New York<br />
Columbia University Libraries, New York, NY, February 2012 <br />
Instructor, web archiving program</p>

<p align="left">International Conference on Preservation of Digital Objects<br />
Singapore National Library, Singapore, November 2011<br />
Panelist, with Lori Donovan, Archive-It; Geoffrey Harder, University of Alberta<br />
Presentation: &ldquo;What is Worth Saving? Selection and Curation in Web Archiving&rdquo; </p>

<p align="left">Mid-Atlantic Regional Archives Conference<br />
Bethlehem, PA, October 2011<br />
Invited panelist, with Joanne Archer, University of Maryland; Abbie Grotke, Library of Congress; Kate Odell, Internet Archive<br />
Presentation: &ldquo;Creating and Maintaining Web Archives&rdquo;</p>

<p align="left">Seminar on the Acquisition of Latin American Library Materials<br />
Philadelphia, PA, May 2011<br />
Speaker, with Pamela Graham, Alex Thurman<br />
Presentation: &ldquo;Collecting the Human Rights Web&rdquo;</p>

<p align="left">Information Ethics Roundtable, Workshop on Libraries and Human Rights<br />
Tucson, AZ, April 2011<br />
Speaker, with Pamela Graham<br />
Presentation: &ldquo;The Center for Human Rights Documentation and Research at Columbia University &ldquo; </p>

<p align="left">Association of College and Research Libraries Annual Conference<br />
Philadelphia, PA, April 2011<br />
Panelist, with Robert Wolven<br />
Presentation: &ldquo;Making the Ephemeral Eternal&rdquo; </p>

<p align="left">Archive-It Annual Partner Meeting<br />
Participant<br />
Washington, DC, October 2009mation technology experience</p>
<br>

<h2>Technical Skills</h2>
<br>
<h4>Wed Development/Programming</h4><br />
<p align="left">
Ruby<br>
Ruby on Rails<br>
Sinatraa<br>
SQL<br>
GitHub<br>
Heroku<br>
JavaScript (some experience with jQuery, d3.js)<br>
HTML/CSS/Bootstrap<br>
R</p>
<br>
<h4>Archives-Related Tools/Programs</h4>
<h5 align="left">Proficient</h5>
<p align="left">
Archive-It <br />
Microsoft Office Suite<br />
Mac OS X<br />
Google Drive<br />
WordPress<br />
FileMaker Pro<br />
<br>
<h5 align="left">Competent</h5>
<p align="left">
ArchivesSpace<br />
ICA-aTom<br />
<br>
<h5 align="left">Limited Experience</h5>
<p align="left">
Avalon 3.1 (compiled from source)<br />
Collective Access<br />
Adobe Creative Suite<br />
Heritrix<br />
Wayback Machine</p>
</div>