<div class="inner cover">
            <h1 class="cover-heading">TESSA FALLON</h1>
            <p class="lead">Web Developer/Digital Archivist/Programmer. Creating, preserving, and interpreting information.  2013 NYC Web Development Fellow, MSLIS.</p>
            
            <p class="lead">
              <a href="/cv" class="btn btn-lg btn-default">More about my work...</a>
            </p>
          </div>