<div class="inner cover">
  <h1 class="cover-heading">Projects</h1>
    <p class="lead"><a href="/contact">Contact me</a></h3> for explanations, excuses, boasting, and hilarious project-related anecdotes. #oxfordcomma4life
    </p>
    <h3><a href="https://tessadata.herokuapp.com/graph.php?dataset=resume">d3 Super Resume</a></h3>
    <p> I took an existing d3 library and tweaked it to map my progress from college to present.</p>
    <h3><a href="http://infinite-spire-2035.herokuapp.com">PB Core Validator 2.0: Validation Boogaloo</a></h3>
    <p> I received a travel grant to attend the 2014 AMIA/DLF hack day.  I fixed an outdated version of the validator, updating code, gems, etc and made it better with Bootstrap</p>
    <h3><a href="http://findingaids.danceheritage.org">Dance Heritage Coalition</a></h3>
    <p> Landing site built according to client specifications.</p>
    <h3><a href="http://findingaids.danceheritage.org">DHC-XTF Search</a></h3>
    <p> Modifying and customizing open source software (XTF) for the Dance Heritage Coalition</p>
    <h3><a href="http://transcriot.herokuapp.com">NYPL Labs Project: TranscRiot, A Transcription Tool for the NYC Draft Riots</a></h3>
    <p> Rails app created as part of a team at the Flatiron School. Concept: allow volunteers to transcribe digitized archival materials using custom jquery tool for text selection</p>
    <h3>And more! I'll keep adding them here...</a></h3>
</div>