<div class="inner cover">
  <h1 class="cover-heading">Projects</h1>
    <p class="lead"><a href="/contact">Contact me</a> for explanations, excuses, boasting, and hilarious project-related anecdotes. #oxfordcomma4life
    </p>
</div>